*{
	margin: 0px;
	padding: 0px;
	font-family: century gothic;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url("sj.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 20px;

}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6%;

}
ul li a:hover{
	background-color: white
	color:black;
}
ul li.active a{
	background-color: white;
	color: black;
}

.main{
	max-width: 1700px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


}
.title h1{
	color: white;
	font-size: 50px;
	text-decoration: underline;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);	
}
.btn{
	border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	transition: 0.6%;
}
.btn: hover{
	background-color: white;
	color: black;


}
